#image-1{
    width: 400px;
    transition: 0.3s;
    object-fit: cover;
    display: block;
    text-align: center;
    border: solid 3px black;
    border-radius: 8px;
}
#image-2{
    width: 400px;
    transition: 0.3s;
    object-fit: cover;
    display: block;
    text-align: center;
    border: solid 3px black;
    border-radius: 8px;
}
image-1:hover{
    cursor: pointer;
}
image-1:active{
    transform: scale(0.8);
}
image-2:hover{
    cursor: pointer;
}
image-2:active{
    transform: scale(0.8);
}