body{
  background-color: white;
  font-family: Unispace;
  text-decoration: none;
}
button{
  background-color: white;
 color: black;
 font-family: Unispace;
 font-size: larger;
 width: 290px;
 height: 100px;
 border-radius: 8px;
 cursor: pointer;
}
nav{
  background-color: black;
  font-family: Unispace;
  font-size: larger;
  color: white;
  height: 270px;
  border-radius: 8px;
}
#logó{
  width: 200px;
  border-radius: 8px;
}
a:link, a:hover, a:visited, a:active{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.bolt1{
  text-align: center;
}
h1{
  font-family: Unispace;
}
.kép1{
  border-color: black;
}
#f7{
border-radius: 3.5px;
}
#f8{
border-radius: 3.5px;
}
.v1{
border-radius: 3.5px;
} 
.v2{
border-radius: 3.5px;
}
.v3{
border-radius: 3.5px;
}
.orarend{
  background-color: white;
  color: black;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}
a{
  padding: 5px;
}
.kepekta{
  width: 400px;
  border: 5px pink solid;
  border-radius: 8px;
  display: block;
  margin: 0 0 0 50px;
}
.kepekny{
  width: 400px;
  border: 5px yellow solid;
  border-radius: 8px;
  display: block;
  margin: 0 0 0 50px;
}
.kepekö{
  width: 400px;
  border: 5px brown solid;
  border-radius: 8px;
  display: block;
  margin: 0 0 0 50px;
}
.kepekté{
  width: 400px;
  border: 5px cyan solid;
  border-radius: 8px;
  display: block;
  margin: 0 0 0 50px;
}
.kepekta:hover{
  background-color: palevioletred;
  color: white;
}
#évszakoknév{
  text-align: center;
}
