body{
    background-color: lightblue;
    color: #00ff84;
    text-decoration: none;
}
button{
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #00ff84;
}