body{
    background-color: black;
    color:rgb(223, 180, 42);
    text-decoration: none;
    font-family: Unispace;
    
}
button{
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    background-color: yellow;
    border-radius: 8px;
    transition-duration: 0.5s;
    font-family: Algerian;
}
.button:hover{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav{
    text-decoration: none;
}
a:link {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: none;
  }
  .bolt1{
    text-align: center;
  }
  h1{
    font-family: Algerian;
  }